*{ margin: 0; padding: 0; box-sizing: border-box;}
:root{
	--color-fondo: #2E4053;
	--color-container: #283747;
	--letra-josefine: 'Akaya Telivigala', cursive;
}
body{
	background-color: var(--color-fondo);
}
.header-contain{
	display: flex;
	flex-flow: row-reverse wrap;
	align-items: center;
	height: 100px;
	border-bottom: 5.5px solid #3462F1;
}
.header-contain__titulo{
	font-family: var(--letra-josefine);
	font-size: 65px;
	font-weight: bold;
	flex-grow: 35;
	order: 1;
	color: #F6675E/*F33E33;*/
}
.fas{
	font-size: 80px;
	margin-left: 20px;
	flex-grow: 1;
	order: 2;
	color: #839BED;
}
.container{
	outline: 2px solid white;
	background-color: var(--color-container);
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	width: 65%;
	margin: 50px 250px;
	padding: 10px;
}
.container__marco{
	width: 200px;
	height: 375px;
	overflow: hidden;
	padding: 10px;
	flex-grow: 2;
}
.marco__imagen{
	object-fit: scale-down;
	width: 100%;
	height: 100%;
}
.container__login{
	border-left: 3px solid #0a6;
	font-family: var(--letra-josefine);
	display: flex;
	flex-flow: column wrap;
	flex-grow: 1;
	align-items: center;
	padding: 20px;
}
.login__label{
	font-size: 40px;
	letter-spacing: 2px;
	color: #DCEEDA;
	font-weight: bold;
	flex-grow: 1;
	align-self: flex-start;
}
.login__text{
	outline-style: none;
	font-family: var(--letra-josefine);
	background-color: var(--color-container);
	text-align: center;
	margin: 20px 0px;
	height: 40px;
	font-size: 35px;
	border-style: none;
	color: #0D0F0D;
	flex-grow: 1;
}
.text-bottom:focus{
	border-bottom: 2.5px solid #F33E33;
	transition: border-bottom .5s;
}
.text-bottom{
	border-bottom: 2.5px solid #2471A3;
}
.login__button{
	font-family: var(--letra-josefine);
	background-color: #117A65;
	width: 300px;
	height: 60px;
	font-size: 35px;
	flex-grow: 1;
	margin-top: 10px;
	border-style: none;
	border-radius: 5%;
}
.login__button:hover{
	background-color: darkcyan;
	border: 2px solid gray;
	transition: background-color .5s, border 1s;
}